<template>
  <div class="all">
        <div>姓名：{{$store.state.name}}</div>
    <div>
      <button @click="changename">点击修改姓名</button>
      <button @click="delcount">点击-数字</button>
      <div>数字{{$store.getters.againCount}}</div>
      <button @click="addcount">点击+数字</button>
    </div>
    <ul>
      <router-link to="/all/one" tag="li">one</router-link>
      <router-link to="/all/two" tag="li">two</router-link>
      <router-link to="/all/three" tag="li">three</router-link>
    </ul>
    <div>
      <router-view></router-view>
    </div>
    <!-- <router-view></router-view> -->
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState, mapMutations } from "vuex";

export default {
  name: "all",
  created() {
    console.log(this);
  },
  methods: {
    changename() {
      this.$store.dispatch("targetname");
    },
    // addcount() {
    //   this.$store.commit("addcount");
    // },
    delcount() {
      this.$store.commit("delcount");
    },
    ...mapMutations(['addcount'])
  }
};
</script>

<style>
.all {
  border-top: 1px solid saddlebrown;
  list-style: none;
  width: 100%;
}
.all ul {
  list-style: none;
  display: flex;
}
.all ul li {
  flex: 1;
  text-align: center;
}
</style>
