<template>
  <div class="detail">
      132456
    <dl v-for="(val,ind) in alldata" :key="ind">
      <dt>
        <img :src="val.littleImageUrl" alt>
      </dt>
      <dd>
        <span>{{val.spuName}}</span>
        <span>￥{{val.currentPrice}}</span>
        <div>
          <p class="del" @click="del(ind,val.currentPrice)">-</p>
          <b class="sum">{{val.activityType}}</b>
          <p class="add" @click="add(ind,val.currentPrice)">+</p>
        </div>
      </dd>
    </dl>
  </div>
</template>

<script>
export default {
  name: "detail",
  props:['alldata']
};
</script>

<style>
.detail {
  width: 100%;
  height: 100%;
}
.detail dl {
  display: flex;
  margin-top: 6px;
}
.detail dl dt {
  width: 35%;
}
.detail dl dt img {
  width: 100%;
}
.detail dl dd {
  margin-left: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.detail dl dd span {
  margin-top: 10px;
}
.detail dl dd > div {
  display: flex;
  position: absolute;
  right: 20px;
  top: 60px;
}
.detail dl dd > div p {
  width: 25px;
  height: 25px;
  background: blue;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}
.detail dl dd > div b {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
</style>
